* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: sans-serif;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
}

.one {
  background-color: darkslategrey;
}
.two {
  background-color: purple;
}
.three {
  background-color: green;
}
.four {
  background-color: darkorange;
}
